#Escreva um programa que faça o computador "pensar" em um número inteiro entre 0 e 5 e peça para o usuário
#tentar descobrir qual foi o número escolhido pelo computador;
#o programa deverá escrever na tela se o usuário venceu ou perdeu.
from random import choice

def random_numeros():
    return choice(range(0,6))                   #Embaralha e escolhe números de 0 a 5.

lista = random_numeros()                        #Recebe o número escolhido.


print('=======================================WELCOME================================================================')
print('  *Você deve digitar um número de 0 a 5.\n  *Caso acerte o número que o computador pensou, você ganhará um Cockie.')
print('==============================================================================================================')
print('=========* Escolha seu número da sorte: 0, 1, 2, 3, 4 ou 5 *=========')



res = int(input('Digite um número: '))              
if res in [0,1,2,3,4,5]:                            
    if res == lista:                                        
        print('PARABÉNS!! VOCÊ GANHOU UM COOKIE')
    else:
        print('Dessa vez o número da sorte foi: {}'.format(lista))
        print('Infelizmente não foi dessa vez, tente novamente.')
else:
    print('Você deve escolher um número de 0 a 5')

